body 
{
    /* background-color: rgb(255, 255, 255); */
    background:url('img/overlay-bg.jpg');
    color: gray;
    font-family: Arial, sans-serif;
    overflow-y: auto; 
}
section 
{
    color: rgb(0, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
}
.task-list ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.task-list li 
{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin: 20px;
}
.task-list li:hover { border: 5px solid rgb(0, 0, 0); }
h1
{
    color: rgb(0, 0, 0);
    text-align: center;                             
}

h2
{
    color: rgb(0, 0, 0);
    text-align: center;                             
}

h2
{
    color: rgb(0, 0, 0);
    text-align: center;                             
}

.task-info h4 
{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(0, 0, 0);
}
.task-due-date, .task-assigne 
{
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}
.create-task input, .create-task select, .create-task textarea 
{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    background-color: rgb(203, 199, 199);
}
.create-task textarea { height: 100px; }
.create-task input[type="submit"] 
{
    padding: 10px;
    background-color: black;
    color: gray;
    border: solid rgb(0, 0, 0);
    cursor: pointer;
}
.create-task input[type="submit"]:hover { background-color: rgb(0, 0, 0); }
.comment-list { margin-top: 10px; }
.comment 
{
    font-size: 12px;
    color: rgb(0, 0, 0);
}
.completed-task-list { margin-top: 30px; }
.task-management { display: flex; }
.left-section,.right-section 
{
    flex: 1;
    padding: 20px;
    border: 7px solid rgb(0, 0, 0);
    margin-left: 5px;
}
.left-section { flex: 3; }
.chat-messages 
{
height: 400px; 
overflow-y: auto; 
/* background-color: rgba(196, 189, 198, 0.682); */
margin-bottom: 5px;
border: 2px solid black;
border-radius: 5px;
padding: 15px; 
color: black;
}

#sendButton{
    border: 2px solid black;
    border-radius: 5px;
    background-color: black;
    color: azure;
}

#chatMessage{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: azure;
}

#writerName{
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}